@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Shabnam";
  src: url("/fonts/shabnam/Shabnam.woff2") format("woff2"),
    url("/fonts/shabnam/Shabnam.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Shabnam";
  src: url("/fonts/shabnam/Shabnam-Bold.woff2") format("woff2"),
    url("/fonts/shabnam/Shabnam-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Shabnam";
  src: url("/fonts/shabnam/Shabnam-Light.woff2") format("woff2"),
    url("/fonts/shabnam/Shabnam-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Sahel";
  src: url("/fonts/sahel/Sahel.woff2") format("woff2"),
    url("/fonts/sahel/Sahel.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sahel";
  src: url("/fonts/sahel/Sahel-Bold.woff2") format("woff2"),
    url("/fonts/sahel/Sahel-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

.container {
  @apply px-4;
  @apply mx-auto;
}

input::placeholder {
  @apply font-light;
  @apply text-silver;
}

input:focus {
  @apply outline-none;
}

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button {
  @apply hover:opacity-90;
}

@keyframes fade-in-down {
  0% {
    display: block;
    opacity: 0;
  }
  1% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out-up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  99% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.animate-fade-in-down {
  animation: fade-in-down 0.3s ease-out forwards;
}

.animate-fade-out-up {
  animation: fade-out-up 0.3s ease-out forwards;
}
